sudo: required

language: node_js
node_js:
  - "0.10"

before_install:
  - export CHROME_BIN=google-chrome
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

before_script:
  - npm install
  - npm install -g karma karma-cli karma-jasmine

script: node_modules/karma/bin/karma start ./karma.conf.js --single-run --browsers ChromeNoSandbox

